@import url("//fonts.googleapis.com/css?family=Arvo|Raleway::300,700");


h1 {
  font-family: 'Arvo', bold;
  font-weight: 500;
  line-height: 1.1;
  color: #ad1d28;
}

h2{
  font-family: Raleway;  
}

h4{
  font-family: Raleway;  
}


h3{
  font-family: Raleway;  
}

 .main-header .logo {
     font-weight:300;
 }

.navbar-nav > .messages-menu > .dropdown-menu > li .menu, .navbar-nav > .notifications-menu > .dropdown-menu > li .menu, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
    max-height: 1200px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a {
    color: #000000;
    overflow: hidden;
    white-space: normal;
}

.navbar {
    font-family: 'Raleway', normal;
    font-weight: 300;
}

.sidebar {
     height:90vh;
     overflow-y:auto; 
     font-family: 'Raleway';
}

body {
  font-family: 'Raleway';
  background-color: #fff;
}
.btn-primary {
    height: 55px;
    width: 100px;
    border-radius: 0;
    position: relative;
    font-size: 18px;
    
}

.btn-success {
    font-size: 18px;
    font-family: inherit;
    padding: 5px 18px;
    height: 55px;
    margin: 4px 4px 4px 4px;
    min-width: 10.85%;
    text-align: left;
    color: white;
    text-indent: 4px;
    background: #00526D;
    vertical-align: middle;
    border-color: transparent;
}
